*{margin: 0;padding: 0;}
			ul,li{list-style: none;}
			a{text-decoration:none;}
			img{border:0;}
			body{
				background: #f2f2f2;
			}
			#title{
				width: 100%;
				height: 63px;
				background: #393d49;
				position: fixed;
				left: 0;
				top:0;
				z-index: 100;
			}
				#logimg{
				margin-left: 142px;
				line-height: 61px;
				margin-right: 75px;
			}
			#title ul li{
				float:left;
				
			}
			#title ul li img{
				vertical-align: middle;
			}
			#title ul li a{
				color: #fff;
				font-size: 14px;
				}
			.lmar{
				margin-right: 52px;	
				height: 61px;
			}
			.op{
				opacity: 0.8; transition:0.5s;
			}
			.op:hover{
				opacity:1;
			}
			.kuang{
				margin-right: 416px;
			}
			.option{
				line-height: 61px;
			}
			.layui-container{
				margin: 0 auto;
				width: 1200px;
				height: 600px;
				top: 79px;
				position: relative;
				box-sizing: border-box;
			}
			.layui-this{
				color:#009688;
			}
			.layui-tab-title{
				text-align: left;
				position: relative;
				left: 0;
				height: 40px;
				font-size: 0;
				border-bottom:1px solid;
				
			}
			.layui-tab-title li{
				vertical-align: middle;
				font-size:16px;
				transition: 0.2s;
				position:absolute;
				line-height: 40px;
				padding: 0 15px;
				text-align: center;
				cursor: pointer;
				width: 60px;
				}
			.fly-panel-user{
				padding-top:5px ;
				
			}
			.fly-panel{
				padding: 20px;
				height: 500px;
				margin-bottom:15px ;
				border-radius: 2px;
				background-color:#fff ;
			}
			.layui-form-label,.layui-tab-title{
				border-color:#e6e6e6 ;
			}	
			.layui-form-mid{
				position: relative;
			
			}
			.layui-form-label{
				float: left;
				font-weight: 400;
			}
			label{
				cursor: default;
			}
			.layui-this{
				position: absolute;
				left: 0px;
				
				border-bottom:2px solid #009688 ;
			}
			.layui-zuche{
				left: 70px;
			}
			.layui-form-item{
				margin-top: 20px;
				line-height: 40px;
			}
			label{
				border: 1px solid #E6E6E6;
				height: 41px;
				width: 100px;
				text-align: center;
				background: #fbfbfb;
			}
			input{
				margin: 0;
				height: 39px;
				width: 200px;
			}
			button{
				height: 40px;
				width: 90px;
				background: #009688;
				border: 1px solid #009688;
				border-radius: 2px;
				color:#fff;
				cursor: pointer;
			}
			span:hover{
				color:#009688;
				cursor: pointer;
			}
			a:hover{
				color: #009688;
			}
